In [ ]:
some changes

## Imports

In [16]:
import pandas as pd
import scipy
import numpy as np

## Cleaning Data

In [55]:
df = pd.read_csv('gamelog2020.csv')  
df = df.drop(index=df.index[[212]])

In [57]:
df["Home line"][212]

'"011001002"'

In [21]:
for inning in range(1, 21):
    key = str(inning) + "th inning" 
    df[key] = None

,Date,Visiting Team,Visiting team game num,Home,Home team game num,Visiting final score,Home final score,Num outs,Ballpark,Visit line,...,11th inning,12th inning,13th inning,14th inning,15th inning,16th inning,17th inning,18th inning,19th inning,20th inning
0,"""20200723""","""SFN""",1,"""LAN""",1,1,8,51,"""LOS03""","""001000000""",...,None,None,None,None,None,None,None,None,None,None
1,"""20200723""","""NYA""",1,"""WAS""",1,4,1,31,"""WAS11""","""201010""",...,None,None,None,None,None,None,None,None,None,None
2,"""20200724""","""MIL""",1,"""CHN""",1,0,3,51,"""CHI11""","""000000000""",...,None,None,None,None,None,None,None,None,None,None
3,"""20200724""","""DET""",1,"""CIN""",1,1,7,51,"""CIN09""","""000100000""",...,None,None,None,None,None,None,None,None,None,None
4,"""20200724""","""SFN""",2,"""LAN""",2,1,9,51,"""LOS03""","""001000000""",...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
893,"""20200927""","""MIA""",60,"""NYA""",60,5,0,54,"""NYC21""","""030010010""",...,None,None,None,None,None,None,None,None,None,None
894,"""20200927""","""SEA""",60,"""OAK""",60,2,6,51,"""OAK01""","""110000000""",...,None,None,None,None,None,None,None,None,None,None
895,"""20200927""","""PHI""",60,"""TBA""",60,0,5,51,"""STP01""","""000000000""",...,None,None,None,None,None,None,None,None,None,None
896,"""20200927""","""HOU""",60,"""TEX""",60,4,8,51,"""ARL02""","""101100010""",...,None,None,None,None,None,None,None,None,None,None
897,"""20200927""","""BAL""",60,"""TOR""",60,7,5,54,"""BUF05""","""001330000""",...,None,None,None,None,None,None,None,None,None,None

In [36]:
away = df["Visit line"]
home = df["Home line"]

for i, line in enumerate(home):
    print(i)
    appending = False
    to_add = ''
    inning = 1
    
    for j in range(0, len(line)):
        c = line[j]
        key = str(inning) + "th inning" 
        if c == '"':
            continue
        elif c == 'x':
            df[key][i] = 0
            inning += 1 
        elif c == '(':
            appending = True
        elif c == ')':
            appending = False
            df[key][i] = int(to_add)
            inning += 1 
        elif appending == True:
            to_add += c
        else:
            df[key][i] = int(c)
            inning += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86

/var/folders/9p/zd15ldyj46d7t0x2rzmrsf3c0000gr/T/ipykernel_37211/189395899.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[key][i] = int(c)
/var/folders/9p/zd15ldyj46d7t0x2rzmrsf3c0000gr/T/ipykernel_37211/189395899.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[key][i] = 0

87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212

/var/folders/9p/zd15ldyj46d7t0x2rzmrsf3c0000gr/T/ipykernel_37211/189395899.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[key][i] = int(to_add)

ValueError: invalid literal for int() with base 10: 'B'

In [37]:
home[212]

'"BAL12"'

In [29]:
df["3th inning"]

0      1
1      1
2      0
3      0
4      1
      ..
893    0
894    0
895    0
896    1
897    1
Name: 3th inning, Length: 898, dtype: object

In [5]:
away = df["Visiting final score"].to_numpy()
home = df["Home final score"].to_numpy()
awayandhome = away+home
num_outs = df["Num outs"].to_numpy()

In [6]:
np.corrcoef(awayandhome, num_outs)

array([[1.        , 0.10023742],
       [0.10023742, 1.        ]])

In [7]:
from sklearn.linear_model import LinearRegression

In [8]:
X = np.array([away, home])
y = num_outs

In [9]:
X.shape, y.shape

((2, 898), (898,))

In [10]:
reg = LinearRegression().fit(X.T, y)

In [11]:
reg.coef_

array([ 0.3226959 , -0.12175951])

In [12]:
reg.score(X.T, y)

0.051600416212623346

In [14]:
reg.intercept_

50.78708850514183